
<div class="navbar-fixed">
  <nav class="grey darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Sport Simple</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">News</a></li>
          <!-- <li><a href="">My Teams</a></li> -->
          <!-- <li><a href="">Log Out</a></li> -->
          <li><a href="#modalLogIn">Log In</a></li>
          <li><a href="#modalSignUp">Sign Up</a></li>
        </ul>
    </div>
  </nav>
</div>

<div class="container">
<div class="row">
  <!-- Main content -->
  <div class="col s12 m12 l12"> 
    
    <h3 class="center-align">News</h3>
  
    <div class="card-panel grey lighten-4">
  
    <div class="row">
      {{#each news }}
        <div class="news col s12 m6">
          <div class="card horizontal left-align">
            <div class="card-image">
              <img src="{{thumbnailUrl}}">
            </div>
            <div class="card-stacked">          
              <div class="card-content">              
                <p class="flow-text">{{title}}</p>
                <p class="hide-on-small-only">{{description}}</p>              
              </div>
              <div class="card-action">
                <p>{{pubDate}}</p>
                <a target="_blank" href="{{shortLink}}">Full article at {{publisher}}</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  
    </div>
  </div>

</div>

      <!-- We have the option of adding a schedule but for the sake of our UI I took it out for now...
      still up for discussion... -->

      <!-- <div class="col s12 m4 l2"> 
        
          <h4 class="center-align">Schedule</h4>
        
          <div class="card-panel grey lighten-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit corporis aperiam, molestiae animi dignissimos alias natus, cum vitae quos, dolore sapiente voluptate sint non, consectetur sed! In voluptatibus, atque dolorem!</p>
          </div>

      </div> -->

    </div>
</div>

  
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sport Simple</h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright  Casey, Tyler and Andrew
    </div>
  </div>
</footer>


